@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;  
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient( rgb(156, 126, 226), rgb(101, 23, 226));
}
.wrapper{
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background: #fff;
}
.wrapper header{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.wrapper form{
    margin: 40px 0 20px 0;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form input{
    border: 1px solid #999;
    height: 50px;
    padding: 0px 15px;
    font-size: 17px;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
}
form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box{
    display: flex;
    width: 115px;
    height: 45px;
     /* background: red; */
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    border-radius: 5px;
}
.select-box select{
    width: auto;
    font-size: 20px;
    margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
    width: 8px;
}
.select-box select::-webkit-scrollbar-track{
    background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.select-box img{
    max-width: 25px;
}
.drop-list .icon{ 
    cursor: pointer;
    font-size: 27px;
    margin-top: 30px;
}
form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
    height: 52px;
    color: #fff;
    background: #675AFE;
    cursor: pointer;
    font-size: 17px;
}
